* {
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
}
.navegation {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
}