@media screen and (min-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    header {
        height: 130px;
    }

    .img-puno img {
        position: fixed;
        z-index: -1;
    }

    main hr {
        display: none;
    }

    h3 {
        font-size: 2.4rem;
        letter-spacing: 2px;
    }

    .title {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #3d5473;
        height: 80px;
        width: 400px;
        right: 20px;
        top: 5px;
        text-align: start;
        color: #fff;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .title img {
        width: 100px;
        position: absolute;
        right: 0;
    }

    .section {
        width: 400px;
        top: 10px;
    }

    .data-section {
        position: relative;
        right: 30%;
    }

    .weather-section {
        position: relative;
        right: -30%;
    }

    #change-img {
        top: 83vh;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
}