@media screen and (min-width: 500px){
    main {
        grid-template-columns: 1fr 1fr;
    }
    section {
        height: 300px;
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}